// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$axe-in-stump-name: 'axe-in-stump';
$axe-in-stump-x: 0px;
$axe-in-stump-y: 0px;
$axe-in-stump-offset-x: 0px;
$axe-in-stump-offset-y: 0px;
$axe-in-stump-width: 64px;
$axe-in-stump-height: 64px;
$axe-in-stump-total-width: 576px;
$axe-in-stump-total-height: 576px;
$axe-in-stump-image: '~sprite-sheet.png';
$axe-in-stump: (0px, 0px, 0px, 0px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'axe-in-stump', );
$backward-time-name: 'backward-time';
$backward-time-x: 64px;
$backward-time-y: 0px;
$backward-time-offset-x: -64px;
$backward-time-offset-y: 0px;
$backward-time-width: 64px;
$backward-time-height: 64px;
$backward-time-total-width: 576px;
$backward-time-total-height: 576px;
$backward-time-image: '~sprite-sheet.png';
$backward-time: (64px, 0px, -64px, 0px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'backward-time', );
$ballista-name: 'ballista';
$ballista-x: 0px;
$ballista-y: 64px;
$ballista-offset-x: 0px;
$ballista-offset-y: -64px;
$ballista-width: 64px;
$ballista-height: 64px;
$ballista-total-width: 576px;
$ballista-total-height: 576px;
$ballista-image: '~sprite-sheet.png';
$ballista: (0px, 64px, 0px, -64px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'ballista', );
$berries-bowl-name: 'berries-bowl';
$berries-bowl-x: 64px;
$berries-bowl-y: 64px;
$berries-bowl-offset-x: -64px;
$berries-bowl-offset-y: -64px;
$berries-bowl-width: 64px;
$berries-bowl-height: 64px;
$berries-bowl-total-width: 576px;
$berries-bowl-total-height: 576px;
$berries-bowl-image: '~sprite-sheet.png';
$berries-bowl: (64px, 64px, -64px, -64px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'berries-bowl', );
$bindle-name: 'bindle';
$bindle-x: 128px;
$bindle-y: 0px;
$bindle-offset-x: -128px;
$bindle-offset-y: 0px;
$bindle-width: 64px;
$bindle-height: 64px;
$bindle-total-width: 576px;
$bindle-total-height: 576px;
$bindle-image: '~sprite-sheet.png';
$bindle: (128px, 0px, -128px, 0px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'bindle', );
$birch-trees-name: 'birch-trees';
$birch-trees-x: 128px;
$birch-trees-y: 64px;
$birch-trees-offset-x: -128px;
$birch-trees-offset-y: -64px;
$birch-trees-width: 64px;
$birch-trees-height: 64px;
$birch-trees-total-width: 576px;
$birch-trees-total-height: 576px;
$birch-trees-image: '~sprite-sheet.png';
$birch-trees: (128px, 64px, -128px, -64px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'birch-trees', );
$black-knight-helm-name: 'black-knight-helm';
$black-knight-helm-x: 0px;
$black-knight-helm-y: 128px;
$black-knight-helm-offset-x: 0px;
$black-knight-helm-offset-y: -128px;
$black-knight-helm-width: 64px;
$black-knight-helm-height: 64px;
$black-knight-helm-total-width: 576px;
$black-knight-helm-total-height: 576px;
$black-knight-helm-image: '~sprite-sheet.png';
$black-knight-helm: (0px, 128px, 0px, -128px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'black-knight-helm', );
$bolas-name: 'bolas';
$bolas-x: 64px;
$bolas-y: 128px;
$bolas-offset-x: -64px;
$bolas-offset-y: -128px;
$bolas-width: 64px;
$bolas-height: 64px;
$bolas-total-width: 576px;
$bolas-total-height: 576px;
$bolas-image: '~sprite-sheet.png';
$bolas: (64px, 128px, -64px, -128px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'bolas', );
$bowman-name: 'bowman';
$bowman-x: 128px;
$bowman-y: 128px;
$bowman-offset-x: -128px;
$bowman-offset-y: -128px;
$bowman-width: 64px;
$bowman-height: 64px;
$bowman-total-width: 576px;
$bowman-total-height: 576px;
$bowman-image: '~sprite-sheet.png';
$bowman: (128px, 128px, -128px, -128px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'bowman', );
$camp-cooking-pot-name: 'camp-cooking-pot';
$camp-cooking-pot-x: 192px;
$camp-cooking-pot-y: 0px;
$camp-cooking-pot-offset-x: -192px;
$camp-cooking-pot-offset-y: 0px;
$camp-cooking-pot-width: 64px;
$camp-cooking-pot-height: 64px;
$camp-cooking-pot-total-width: 576px;
$camp-cooking-pot-total-height: 576px;
$camp-cooking-pot-image: '~sprite-sheet.png';
$camp-cooking-pot: (192px, 0px, -192px, 0px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'camp-cooking-pot', );
$campfire-name: 'campfire';
$campfire-x: 192px;
$campfire-y: 64px;
$campfire-offset-x: -192px;
$campfire-offset-y: -64px;
$campfire-width: 64px;
$campfire-height: 64px;
$campfire-total-width: 576px;
$campfire-total-height: 576px;
$campfire-image: '~sprite-sheet.png';
$campfire: (192px, 64px, -192px, -64px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'campfire', );
$camping-tent-name: 'camping-tent';
$camping-tent-x: 192px;
$camping-tent-y: 128px;
$camping-tent-offset-x: -192px;
$camping-tent-offset-y: -128px;
$camping-tent-width: 64px;
$camping-tent-height: 64px;
$camping-tent-total-width: 576px;
$camping-tent-total-height: 576px;
$camping-tent-image: '~sprite-sheet.png';
$camping-tent: (192px, 128px, -192px, -128px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'camping-tent', );
$cash-name: 'cash';
$cash-x: 0px;
$cash-y: 192px;
$cash-offset-x: 0px;
$cash-offset-y: -192px;
$cash-width: 64px;
$cash-height: 64px;
$cash-total-width: 576px;
$cash-total-height: 576px;
$cash-image: '~sprite-sheet.png';
$cash: (0px, 192px, 0px, -192px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'cash', );
$catapult-name: 'catapult';
$catapult-x: 64px;
$catapult-y: 192px;
$catapult-offset-x: -64px;
$catapult-offset-y: -192px;
$catapult-width: 64px;
$catapult-height: 64px;
$catapult-total-width: 576px;
$catapult-total-height: 576px;
$catapult-image: '~sprite-sheet.png';
$catapult: (64px, 192px, -64px, -192px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'catapult', );
$cave-entrance-black-name: 'cave-entrance-black';
$cave-entrance-black-x: 128px;
$cave-entrance-black-y: 192px;
$cave-entrance-black-offset-x: -128px;
$cave-entrance-black-offset-y: -192px;
$cave-entrance-black-width: 64px;
$cave-entrance-black-height: 64px;
$cave-entrance-black-total-width: 576px;
$cave-entrance-black-total-height: 576px;
$cave-entrance-black-image: '~sprite-sheet.png';
$cave-entrance-black: (128px, 192px, -128px, -192px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'cave-entrance-black', );
$cave-entrance-blue-name: 'cave-entrance-blue';
$cave-entrance-blue-x: 192px;
$cave-entrance-blue-y: 192px;
$cave-entrance-blue-offset-x: -192px;
$cave-entrance-blue-offset-y: -192px;
$cave-entrance-blue-width: 64px;
$cave-entrance-blue-height: 64px;
$cave-entrance-blue-total-width: 576px;
$cave-entrance-blue-total-height: 576px;
$cave-entrance-blue-image: '~sprite-sheet.png';
$cave-entrance-blue: (192px, 192px, -192px, -192px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'cave-entrance-blue', );
$caveman-name: 'caveman';
$caveman-x: 256px;
$caveman-y: 0px;
$caveman-offset-x: -256px;
$caveman-offset-y: 0px;
$caveman-width: 64px;
$caveman-height: 64px;
$caveman-total-width: 576px;
$caveman-total-height: 576px;
$caveman-image: '~sprite-sheet.png';
$caveman: (256px, 0px, -256px, 0px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'caveman', );
$cleaver-name: 'cleaver';
$cleaver-x: 256px;
$cleaver-y: 64px;
$cleaver-offset-x: -256px;
$cleaver-offset-y: -64px;
$cleaver-width: 64px;
$cleaver-height: 64px;
$cleaver-total-width: 576px;
$cleaver-total-height: 576px;
$cleaver-image: '~sprite-sheet.png';
$cleaver: (256px, 64px, -256px, -64px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'cleaver', );
$cool-spices-name: 'cool-spices';
$cool-spices-x: 256px;
$cool-spices-y: 128px;
$cool-spices-offset-x: -256px;
$cool-spices-offset-y: -128px;
$cool-spices-width: 64px;
$cool-spices-height: 64px;
$cool-spices-total-width: 576px;
$cool-spices-total-height: 576px;
$cool-spices-image: '~sprite-sheet.png';
$cool-spices: (256px, 128px, -256px, -128px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'cool-spices', );
$corn-name: 'corn';
$corn-x: 256px;
$corn-y: 192px;
$corn-offset-x: -256px;
$corn-offset-y: -192px;
$corn-width: 64px;
$corn-height: 64px;
$corn-total-width: 576px;
$corn-total-height: 576px;
$corn-image: '~sprite-sheet.png';
$corn: (256px, 192px, -256px, -192px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'corn', );
$cornucopia-name: 'cornucopia';
$cornucopia-x: 0px;
$cornucopia-y: 256px;
$cornucopia-offset-x: 0px;
$cornucopia-offset-y: -256px;
$cornucopia-width: 64px;
$cornucopia-height: 64px;
$cornucopia-total-width: 576px;
$cornucopia-total-height: 576px;
$cornucopia-image: '~sprite-sheet.png';
$cornucopia: (0px, 256px, 0px, -256px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'cornucopia', );
$crossed-swords-name: 'crossed-swords';
$crossed-swords-x: 64px;
$crossed-swords-y: 256px;
$crossed-swords-offset-x: -64px;
$crossed-swords-offset-y: -256px;
$crossed-swords-width: 64px;
$crossed-swords-height: 64px;
$crossed-swords-total-width: 576px;
$crossed-swords-total-height: 576px;
$crossed-swords-image: '~sprite-sheet.png';
$crossed-swords: (64px, 256px, -64px, -256px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'crossed-swords', );
$desert-camp-name: 'desert-camp';
$desert-camp-x: 128px;
$desert-camp-y: 256px;
$desert-camp-offset-x: -128px;
$desert-camp-offset-y: -256px;
$desert-camp-width: 64px;
$desert-camp-height: 64px;
$desert-camp-total-width: 576px;
$desert-camp-total-height: 576px;
$desert-camp-image: '~sprite-sheet.png';
$desert-camp: (128px, 256px, -128px, -256px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'desert-camp', );
$eagle-emblem-name: 'eagle-emblem';
$eagle-emblem-x: 192px;
$eagle-emblem-y: 256px;
$eagle-emblem-offset-x: -192px;
$eagle-emblem-offset-y: -256px;
$eagle-emblem-width: 64px;
$eagle-emblem-height: 64px;
$eagle-emblem-total-width: 576px;
$eagle-emblem-total-height: 576px;
$eagle-emblem-image: '~sprite-sheet.png';
$eagle-emblem: (192px, 256px, -192px, -256px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'eagle-emblem', );
$evil-minion-name: 'evil-minion';
$evil-minion-x: 256px;
$evil-minion-y: 256px;
$evil-minion-offset-x: -256px;
$evil-minion-offset-y: -256px;
$evil-minion-width: 64px;
$evil-minion-height: 64px;
$evil-minion-total-width: 576px;
$evil-minion-total-height: 576px;
$evil-minion-image: '~sprite-sheet.png';
$evil-minion: (256px, 256px, -256px, -256px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'evil-minion', );
$family-house-name: 'family-house';
$family-house-x: 320px;
$family-house-y: 0px;
$family-house-offset-x: -320px;
$family-house-offset-y: 0px;
$family-house-width: 64px;
$family-house-height: 64px;
$family-house-total-width: 576px;
$family-house-total-height: 576px;
$family-house-image: '~sprite-sheet.png';
$family-house: (320px, 0px, -320px, 0px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'family-house', );
$farmer-name: 'farmer';
$farmer-x: 320px;
$farmer-y: 64px;
$farmer-offset-x: -320px;
$farmer-offset-y: -64px;
$farmer-width: 64px;
$farmer-height: 64px;
$farmer-total-width: 576px;
$farmer-total-height: 576px;
$farmer-image: '~sprite-sheet.png';
$farmer: (320px, 64px, -320px, -64px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'farmer', );
$forest-name: 'forest';
$forest-x: 320px;
$forest-y: 128px;
$forest-offset-x: -320px;
$forest-offset-y: -128px;
$forest-width: 64px;
$forest-height: 64px;
$forest-total-width: 576px;
$forest-total-height: 576px;
$forest-image: '~sprite-sheet.png';
$forest: (320px, 128px, -320px, -128px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'forest', );
$goblin-head-name: 'goblin-head';
$goblin-head-x: 320px;
$goblin-head-y: 192px;
$goblin-head-offset-x: -320px;
$goblin-head-offset-y: -192px;
$goblin-head-width: 64px;
$goblin-head-height: 64px;
$goblin-head-total-width: 576px;
$goblin-head-total-height: 576px;
$goblin-head-image: '~sprite-sheet.png';
$goblin-head: (320px, 192px, -320px, -192px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'goblin-head', );
$granary-name: 'granary';
$granary-x: 320px;
$granary-y: 256px;
$granary-offset-x: -320px;
$granary-offset-y: -256px;
$granary-width: 64px;
$granary-height: 64px;
$granary-total-width: 576px;
$granary-total-height: 576px;
$granary-image: '~sprite-sheet.png';
$granary: (320px, 256px, -320px, -256px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'granary', );
$ham-shank-name: 'ham-shank';
$ham-shank-x: 0px;
$ham-shank-y: 320px;
$ham-shank-offset-x: 0px;
$ham-shank-offset-y: -320px;
$ham-shank-width: 64px;
$ham-shank-height: 64px;
$ham-shank-total-width: 576px;
$ham-shank-total-height: 576px;
$ham-shank-image: '~sprite-sheet.png';
$ham-shank: (0px, 320px, 0px, -320px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'ham-shank', );
$hammer-nails-name: 'hammer-nails';
$hammer-nails-x: 64px;
$hammer-nails-y: 320px;
$hammer-nails-offset-x: -64px;
$hammer-nails-offset-y: -320px;
$hammer-nails-width: 64px;
$hammer-nails-height: 64px;
$hammer-nails-total-width: 576px;
$hammer-nails-total-height: 576px;
$hammer-nails-image: '~sprite-sheet.png';
$hammer-nails: (64px, 320px, -64px, -320px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'hammer-nails', );
$hearts-name: 'hearts';
$hearts-x: 128px;
$hearts-y: 320px;
$hearts-offset-x: -128px;
$hearts-offset-y: -320px;
$hearts-width: 64px;
$hearts-height: 64px;
$hearts-total-width: 576px;
$hearts-total-height: 576px;
$hearts-image: '~sprite-sheet.png';
$hearts: (128px, 320px, -128px, -320px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'hearts', );
$help-name: 'help';
$help-x: 192px;
$help-y: 320px;
$help-offset-x: -192px;
$help-offset-y: -320px;
$help-width: 64px;
$help-height: 64px;
$help-total-width: 576px;
$help-total-height: 576px;
$help-image: '~sprite-sheet.png';
$help: (192px, 320px, -192px, -320px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'help', );
$hut-name: 'hut';
$hut-x: 256px;
$hut-y: 320px;
$hut-offset-x: -256px;
$hut-offset-y: -320px;
$hut-width: 64px;
$hut-height: 64px;
$hut-total-width: 576px;
$hut-total-height: 576px;
$hut-image: '~sprite-sheet.png';
$hut: (256px, 320px, -256px, -320px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'hut', );
$info-name: 'info';
$info-x: 320px;
$info-y: 320px;
$info-offset-x: -320px;
$info-offset-y: -320px;
$info-width: 64px;
$info-height: 64px;
$info-total-width: 576px;
$info-total-height: 576px;
$info-image: '~sprite-sheet.png';
$info: (320px, 320px, -320px, -320px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'info', );
$laurel-crown-name: 'laurel-crown';
$laurel-crown-x: 384px;
$laurel-crown-y: 0px;
$laurel-crown-offset-x: -384px;
$laurel-crown-offset-y: 0px;
$laurel-crown-width: 64px;
$laurel-crown-height: 64px;
$laurel-crown-total-width: 576px;
$laurel-crown-total-height: 576px;
$laurel-crown-image: '~sprite-sheet.png';
$laurel-crown: (384px, 0px, -384px, 0px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'laurel-crown', );
$log-name: 'log';
$log-x: 384px;
$log-y: 64px;
$log-offset-x: -384px;
$log-offset-y: -64px;
$log-width: 64px;
$log-height: 64px;
$log-total-width: 576px;
$log-total-height: 576px;
$log-image: '~sprite-sheet.png';
$log: (384px, 64px, -384px, -64px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'log', );
$logging-name: 'logging';
$logging-x: 384px;
$logging-y: 128px;
$logging-offset-x: -384px;
$logging-offset-y: -128px;
$logging-width: 64px;
$logging-height: 64px;
$logging-total-width: 576px;
$logging-total-height: 576px;
$logging-image: '~sprite-sheet.png';
$logging: (384px, 128px, -384px, -128px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'logging', );
$lyre-name: 'lyre';
$lyre-x: 384px;
$lyre-y: 192px;
$lyre-offset-x: -384px;
$lyre-offset-y: -192px;
$lyre-width: 64px;
$lyre-height: 64px;
$lyre-total-width: 576px;
$lyre-total-height: 576px;
$lyre-image: '~sprite-sheet.png';
$lyre: (384px, 192px, -384px, -192px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'lyre', );
$magic-axe-name: 'magic-axe';
$magic-axe-x: 384px;
$magic-axe-y: 256px;
$magic-axe-offset-x: -384px;
$magic-axe-offset-y: -256px;
$magic-axe-width: 64px;
$magic-axe-height: 64px;
$magic-axe-total-width: 576px;
$magic-axe-total-height: 576px;
$magic-axe-image: '~sprite-sheet.png';
$magic-axe: (384px, 256px, -384px, -256px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'magic-axe', );
$mounted-knight-name: 'mounted-knight';
$mounted-knight-x: 384px;
$mounted-knight-y: 320px;
$mounted-knight-offset-x: -384px;
$mounted-knight-offset-y: -320px;
$mounted-knight-width: 64px;
$mounted-knight-height: 64px;
$mounted-knight-total-width: 576px;
$mounted-knight-total-height: 576px;
$mounted-knight-image: '~sprite-sheet.png';
$mounted-knight: (384px, 320px, -384px, -320px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'mounted-knight', );
$mushrooms-name: 'mushrooms';
$mushrooms-x: 0px;
$mushrooms-y: 384px;
$mushrooms-offset-x: 0px;
$mushrooms-offset-y: -384px;
$mushrooms-width: 64px;
$mushrooms-height: 64px;
$mushrooms-total-width: 576px;
$mushrooms-total-height: 576px;
$mushrooms-image: '~sprite-sheet.png';
$mushrooms: (0px, 384px, 0px, -384px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'mushrooms', );
$old-wagon-name: 'old-wagon';
$old-wagon-x: 64px;
$old-wagon-y: 384px;
$old-wagon-offset-x: -64px;
$old-wagon-offset-y: -384px;
$old-wagon-width: 64px;
$old-wagon-height: 64px;
$old-wagon-total-width: 576px;
$old-wagon-total-height: 576px;
$old-wagon-image: '~sprite-sheet.png';
$old-wagon: (64px, 384px, -64px, -384px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'old-wagon', );
$opened-food-can-name: 'opened-food-can';
$opened-food-can-x: 128px;
$opened-food-can-y: 384px;
$opened-food-can-offset-x: -128px;
$opened-food-can-offset-y: -384px;
$opened-food-can-width: 64px;
$opened-food-can-height: 64px;
$opened-food-can-total-width: 576px;
$opened-food-can-total-height: 576px;
$opened-food-can-image: '~sprite-sheet.png';
$opened-food-can: (128px, 384px, -128px, -384px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'opened-food-can', );
$orc-head-name: 'orc-head';
$orc-head-x: 192px;
$orc-head-y: 384px;
$orc-head-offset-x: -192px;
$orc-head-offset-y: -384px;
$orc-head-width: 64px;
$orc-head-height: 64px;
$orc-head-total-width: 576px;
$orc-head-total-height: 576px;
$orc-head-image: '~sprite-sheet.png';
$orc-head: (192px, 384px, -192px, -384px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'orc-head', );
$person-name: 'person';
$person-x: 256px;
$person-y: 384px;
$person-offset-x: -256px;
$person-offset-y: -384px;
$person-width: 64px;
$person-height: 64px;
$person-total-width: 576px;
$person-total-height: 576px;
$person-image: '~sprite-sheet.png';
$person: (256px, 384px, -256px, -384px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'person', );
$pig-name: 'pig';
$pig-x: 320px;
$pig-y: 384px;
$pig-offset-x: -320px;
$pig-offset-y: -384px;
$pig-width: 64px;
$pig-height: 64px;
$pig-total-width: 576px;
$pig-total-height: 576px;
$pig-image: '~sprite-sheet.png';
$pig: (320px, 384px, -320px, -384px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'pig', );
$pikeman-name: 'pikeman';
$pikeman-x: 384px;
$pikeman-y: 384px;
$pikeman-offset-x: -384px;
$pikeman-offset-y: -384px;
$pikeman-width: 64px;
$pikeman-height: 64px;
$pikeman-total-width: 576px;
$pikeman-total-height: 576px;
$pikeman-image: '~sprite-sheet.png';
$pikeman: (384px, 384px, -384px, -384px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'pikeman', );
$plow-name: 'plow';
$plow-x: 448px;
$plow-y: 0px;
$plow-offset-x: -448px;
$plow-offset-y: 0px;
$plow-width: 64px;
$plow-height: 64px;
$plow-total-width: 576px;
$plow-total-height: 576px;
$plow-image: '~sprite-sheet.png';
$plow: (448px, 0px, -448px, 0px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'plow', );
$progression-name: 'progression';
$progression-x: 448px;
$progression-y: 64px;
$progression-offset-x: -448px;
$progression-offset-y: -64px;
$progression-width: 64px;
$progression-height: 64px;
$progression-total-width: 576px;
$progression-total-height: 576px;
$progression-image: '~sprite-sheet.png';
$progression: (448px, 64px, -448px, -64px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'progression', );
$rat-black-name: 'rat-black';
$rat-black-x: 448px;
$rat-black-y: 128px;
$rat-black-offset-x: -448px;
$rat-black-offset-y: -128px;
$rat-black-width: 64px;
$rat-black-height: 64px;
$rat-black-total-width: 576px;
$rat-black-total-height: 576px;
$rat-black-image: '~sprite-sheet.png';
$rat-black: (448px, 128px, -448px, -128px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'rat-black', );
$rat-red-name: 'rat-red';
$rat-red-x: 448px;
$rat-red-y: 192px;
$rat-red-offset-x: -448px;
$rat-red-offset-y: -192px;
$rat-red-width: 64px;
$rat-red-height: 64px;
$rat-red-total-width: 576px;
$rat-red-total-height: 576px;
$rat-red-image: '~sprite-sheet.png';
$rat-red: (448px, 192px, -448px, -192px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'rat-red', );
$receive-money-name: 'receive-money';
$receive-money-x: 448px;
$receive-money-y: 256px;
$receive-money-offset-x: -448px;
$receive-money-offset-y: -256px;
$receive-money-width: 64px;
$receive-money-height: 64px;
$receive-money-total-width: 576px;
$receive-money-total-height: 576px;
$receive-money-image: '~sprite-sheet.png';
$receive-money: (448px, 256px, -448px, -256px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'receive-money', );
$rock-golem-name: 'rock-golem';
$rock-golem-x: 448px;
$rock-golem-y: 320px;
$rock-golem-offset-x: -448px;
$rock-golem-offset-y: -320px;
$rock-golem-width: 64px;
$rock-golem-height: 64px;
$rock-golem-total-width: 576px;
$rock-golem-total-height: 576px;
$rock-golem-image: '~sprite-sheet.png';
$rock-golem: (448px, 320px, -448px, -320px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'rock-golem', );
$round-star-name: 'round-star';
$round-star-x: 448px;
$round-star-y: 384px;
$round-star-offset-x: -448px;
$round-star-offset-y: -384px;
$round-star-width: 64px;
$round-star-height: 64px;
$round-star-total-width: 576px;
$round-star-total-height: 576px;
$round-star-image: '~sprite-sheet.png';
$round-star: (448px, 384px, -448px, -384px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'round-star', );
$settings-knobs-name: 'settings-knobs';
$settings-knobs-x: 0px;
$settings-knobs-y: 448px;
$settings-knobs-offset-x: 0px;
$settings-knobs-offset-y: -448px;
$settings-knobs-width: 64px;
$settings-knobs-height: 64px;
$settings-knobs-total-width: 576px;
$settings-knobs-total-height: 576px;
$settings-knobs-image: '~sprite-sheet.png';
$settings-knobs: (0px, 448px, 0px, -448px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'settings-knobs', );
$shambling-zombie-name: 'shambling-zombie';
$shambling-zombie-x: 64px;
$shambling-zombie-y: 448px;
$shambling-zombie-offset-x: -64px;
$shambling-zombie-offset-y: -448px;
$shambling-zombie-width: 64px;
$shambling-zombie-height: 64px;
$shambling-zombie-total-width: 576px;
$shambling-zombie-total-height: 576px;
$shambling-zombie-image: '~sprite-sheet.png';
$shambling-zombie: (64px, 448px, -64px, -448px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'shambling-zombie', );
$sliced-bread-name: 'sliced-bread';
$sliced-bread-x: 128px;
$sliced-bread-y: 448px;
$sliced-bread-offset-x: -128px;
$sliced-bread-offset-y: -448px;
$sliced-bread-width: 64px;
$sliced-bread-height: 64px;
$sliced-bread-total-width: 576px;
$sliced-bread-total-height: 576px;
$sliced-bread-image: '~sprite-sheet.png';
$sliced-bread: (128px, 448px, -128px, -448px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'sliced-bread', );
$spider-alt-name: 'spider-alt';
$spider-alt-x: 192px;
$spider-alt-y: 448px;
$spider-alt-offset-x: -192px;
$spider-alt-offset-y: -448px;
$spider-alt-width: 64px;
$spider-alt-height: 64px;
$spider-alt-total-width: 576px;
$spider-alt-total-height: 576px;
$spider-alt-image: '~sprite-sheet.png';
$spider-alt: (192px, 448px, -192px, -448px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'spider-alt', );
$stone-crafting-name: 'stone-crafting';
$stone-crafting-x: 256px;
$stone-crafting-y: 448px;
$stone-crafting-offset-x: -256px;
$stone-crafting-offset-y: -448px;
$stone-crafting-width: 64px;
$stone-crafting-height: 64px;
$stone-crafting-total-width: 576px;
$stone-crafting-total-height: 576px;
$stone-crafting-image: '~sprite-sheet.png';
$stone-crafting: (256px, 448px, -256px, -448px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'stone-crafting', );
$sun-priest-name: 'sun-priest';
$sun-priest-x: 320px;
$sun-priest-y: 448px;
$sun-priest-offset-x: -320px;
$sun-priest-offset-y: -448px;
$sun-priest-width: 64px;
$sun-priest-height: 64px;
$sun-priest-total-width: 576px;
$sun-priest-total-height: 576px;
$sun-priest-image: '~sprite-sheet.png';
$sun-priest: (320px, 448px, -320px, -448px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'sun-priest', );
$sword-spade-name: 'sword-spade';
$sword-spade-x: 384px;
$sword-spade-y: 448px;
$sword-spade-offset-x: -384px;
$sword-spade-offset-y: -448px;
$sword-spade-width: 64px;
$sword-spade-height: 64px;
$sword-spade-total-width: 576px;
$sword-spade-total-height: 576px;
$sword-spade-image: '~sprite-sheet.png';
$sword-spade: (384px, 448px, -384px, -448px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'sword-spade', );
$throwing-ball-name: 'throwing-ball';
$throwing-ball-x: 448px;
$throwing-ball-y: 448px;
$throwing-ball-offset-x: -448px;
$throwing-ball-offset-y: -448px;
$throwing-ball-width: 64px;
$throwing-ball-height: 64px;
$throwing-ball-total-width: 576px;
$throwing-ball-total-height: 576px;
$throwing-ball-image: '~sprite-sheet.png';
$throwing-ball: (448px, 448px, -448px, -448px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'throwing-ball', );
$trade-name: 'trade';
$trade-x: 512px;
$trade-y: 0px;
$trade-offset-x: -512px;
$trade-offset-y: 0px;
$trade-width: 64px;
$trade-height: 64px;
$trade-total-width: 576px;
$trade-total-height: 576px;
$trade-image: '~sprite-sheet.png';
$trade: (512px, 0px, -512px, 0px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'trade', );
$treasure-map-name: 'treasure-map';
$treasure-map-x: 512px;
$treasure-map-y: 64px;
$treasure-map-offset-x: -512px;
$treasure-map-offset-y: -64px;
$treasure-map-width: 64px;
$treasure-map-height: 64px;
$treasure-map-total-width: 576px;
$treasure-map-total-height: 576px;
$treasure-map-image: '~sprite-sheet.png';
$treasure-map: (512px, 64px, -512px, -64px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'treasure-map', );
$trebuchet-name: 'trebuchet';
$trebuchet-x: 512px;
$trebuchet-y: 128px;
$trebuchet-offset-x: -512px;
$trebuchet-offset-y: -128px;
$trebuchet-width: 64px;
$trebuchet-height: 64px;
$trebuchet-total-width: 576px;
$trebuchet-total-height: 576px;
$trebuchet-image: '~sprite-sheet.png';
$trebuchet: (512px, 128px, -512px, -128px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'trebuchet', );
$two-coins-gold-name: 'two-coins-gold';
$two-coins-gold-x: 512px;
$two-coins-gold-y: 192px;
$two-coins-gold-offset-x: -512px;
$two-coins-gold-offset-y: -192px;
$two-coins-gold-width: 64px;
$two-coins-gold-height: 64px;
$two-coins-gold-total-width: 576px;
$two-coins-gold-total-height: 576px;
$two-coins-gold-image: '~sprite-sheet.png';
$two-coins-gold: (512px, 192px, -512px, -192px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'two-coins-gold', );
$two-coins-name: 'two-coins';
$two-coins-x: 512px;
$two-coins-y: 256px;
$two-coins-offset-x: -512px;
$two-coins-offset-y: -256px;
$two-coins-width: 64px;
$two-coins-height: 64px;
$two-coins-total-width: 576px;
$two-coins-total-height: 576px;
$two-coins-image: '~sprite-sheet.png';
$two-coins: (512px, 256px, -512px, -256px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'two-coins', );
$upgrade-name: 'upgrade';
$upgrade-x: 512px;
$upgrade-y: 320px;
$upgrade-offset-x: -512px;
$upgrade-offset-y: -320px;
$upgrade-width: 64px;
$upgrade-height: 64px;
$upgrade-total-width: 576px;
$upgrade-total-height: 576px;
$upgrade-image: '~sprite-sheet.png';
$upgrade: (512px, 320px, -512px, -320px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'upgrade', );
$vampire-dracula-name: 'vampire-dracula';
$vampire-dracula-x: 512px;
$vampire-dracula-y: 384px;
$vampire-dracula-offset-x: -512px;
$vampire-dracula-offset-y: -384px;
$vampire-dracula-width: 64px;
$vampire-dracula-height: 64px;
$vampire-dracula-total-width: 576px;
$vampire-dracula-total-height: 576px;
$vampire-dracula-image: '~sprite-sheet.png';
$vampire-dracula: (512px, 384px, -512px, -384px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'vampire-dracula', );
$witch-face-name: 'witch-face';
$witch-face-x: 512px;
$witch-face-y: 448px;
$witch-face-offset-x: -512px;
$witch-face-offset-y: -448px;
$witch-face-width: 64px;
$witch-face-height: 64px;
$witch-face-total-width: 576px;
$witch-face-total-height: 576px;
$witch-face-image: '~sprite-sheet.png';
$witch-face: (512px, 448px, -512px, -448px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'witch-face', );
$wood-pile-name: 'wood-pile';
$wood-pile-x: 0px;
$wood-pile-y: 512px;
$wood-pile-offset-x: 0px;
$wood-pile-offset-y: -512px;
$wood-pile-width: 64px;
$wood-pile-height: 64px;
$wood-pile-total-width: 576px;
$wood-pile-total-height: 576px;
$wood-pile-image: '~sprite-sheet.png';
$wood-pile: (0px, 512px, 0px, -512px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'wood-pile', );
$wyvern-name: 'wyvern';
$wyvern-x: 64px;
$wyvern-y: 512px;
$wyvern-offset-x: -64px;
$wyvern-offset-y: -512px;
$wyvern-width: 64px;
$wyvern-height: 64px;
$wyvern-total-width: 576px;
$wyvern-total-height: 576px;
$wyvern-image: '~sprite-sheet.png';
$wyvern: (64px, 512px, -64px, -512px, 64px, 64px, 576px, 576px, '~sprite-sheet.png', 'wyvern', );
$spritesheet-width: 576px;
$spritesheet-height: 576px;
$spritesheet-image: '~sprite-sheet.png';
$spritesheet-sprites: ($axe-in-stump, $backward-time, $ballista, $berries-bowl, $bindle, $birch-trees, $black-knight-helm, $bolas, $bowman, $camp-cooking-pot, $campfire, $camping-tent, $cash, $catapult, $cave-entrance-black, $cave-entrance-blue, $caveman, $cleaver, $cool-spices, $corn, $cornucopia, $crossed-swords, $desert-camp, $eagle-emblem, $evil-minion, $family-house, $farmer, $forest, $goblin-head, $granary, $ham-shank, $hammer-nails, $hearts, $help, $hut, $info, $laurel-crown, $log, $logging, $lyre, $magic-axe, $mounted-knight, $mushrooms, $old-wagon, $opened-food-can, $orc-head, $person, $pig, $pikeman, $plow, $progression, $rat-black, $rat-red, $receive-money, $rock-golem, $round-star, $settings-knobs, $shambling-zombie, $sliced-bread, $spider-alt, $stone-crafting, $sun-priest, $sword-spade, $throwing-ball, $trade, $treasure-map, $trebuchet, $two-coins-gold, $two-coins, $upgrade, $vampire-dracula, $witch-face, $wood-pile, $wyvern, );
$spritesheet: (576px, 576px, '~sprite-sheet.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
